* {
  pointer-events: fill;
}

*, :after, :before {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
body, html {
  height: 100%;
  width: 100%;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

applet, article, aside, audio, blockquote, body, canvas, caption, dd, details, div, dl, dt, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, iframe, input, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, section, span, strike, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, ul, var, video {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 400;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], [list]::-webkit-calendar-picker-indicator, template {
  display: none;
}

a img, abbr, acronym, body, html, img {
  border: 0;
}

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: 400;
}

dir, menu, ol, ul {
  list-style: none;
}

a {
  background-color: transparent;
}

:focus, a, a:active, a:hover {
  outline: 0;
  border: 0;
}

caption, table th {
  text-align: left;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table td {
  vertical-align: top;
}

q:after, q:before {
  content: "";
}

blockquote, q {
  quotes: none;
}

hr {
  height: 0;
  box-sizing: content-box;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: "";
  content: none;
}

sub, sup {
  line-height: 0;
}

svg:not(:root) {
  overflow: hidden;
}

nav ol, nav ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

@-moz-viewport {
  width: device-width;
}
@-webkit-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
summary {
  display: list-item;
  cursor: pointer;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  line-height: inherit;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner, legend {
  border: 0;
  padding: 0;
}

input[type=checkbox], input[type=radio] {
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
}

img, svg {
  vertical-align: middle;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}

code, kbd, pre, samp {
  font-family: "Gilroy", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
  direction: ltr;
  unicode-bidi: bidi-override;
}

::-webkit-color-swatch-wrapper, ::-webkit-datetime-edit-day-field, ::-webkit-datetime-edit-fields-wrapper, ::-webkit-datetime-edit-hour-field, ::-webkit-datetime-edit-minute, ::-webkit-datetime-edit-month-field, ::-webkit-datetime-edit-text, ::-webkit-datetime-edit-year-field {
  padding: 0;
}

::-webkit-inner-spin-button {
  height: auto;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::file-selector-button {
  font: inherit;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

img {
  max-width: 100%;
}

select {
  word-wrap: normal;
}

progress {
  vertical-align: baseline;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

:root {
  --color-black:#000;
  --color-white:#fff;
  --color-brown:#AF9E77;
  --color-white-brown:#E0D9BD;
  --color-menu-brown:#CCB98C;
  --color-gray:#CECECE;
  --color-main-black:#1D1D1D;
  --color-dull-gray:#6B6264;
  --color-red:#FF3F3F;
  --color-sale:#FF5B5B;
  --color-filter-gray:#EEEDED;
  --color-breadcrumbs-gray:#8B8486;
  --color-article-gray:#8B8B8B;
}

@font-face {
  font-family: "Gilroy";
  src: url("font/Gilroy-UltraLight.woff2") format("woff2"), url("font/Gilroy-key.woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("font/Gilroy-Light.woff2") format("woff2"), url("font/Gilroy-key.woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("font/Gilroy-Regular.woff2") format("woff2"), url("font/Gilroy-key.woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("font/Gilroy-Medium.woff2") format("woff2"), url("font/Gilroy-key.woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("font/Gilroy-Bold.woff2") format("woff2"), url("font/Gilroy-key.woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@media (min-width: 0px) {
  .col-xs-1 {
    flex: 0 0 auto;
    width: calc((8.3333333333%) - 30px);
  }
  .col-xs-2 {
    flex: 0 0 auto;
    width: calc((16.6666666667%) - 30px);
  }
  .col-xs-3 {
    flex: 0 0 auto;
    width: calc((25%) - 30px);
  }
  .col-xs-4 {
    flex: 0 0 auto;
    width: calc((33.3333333333%) - 30px);
  }
  .col-xs-5 {
    flex: 0 0 auto;
    width: calc((41.6666666667%) - 30px);
  }
  .col-xs-6 {
    flex: 0 0 auto;
    width: calc((50%) - 30px);
  }
  .col-xs-7 {
    flex: 0 0 auto;
    width: calc((58.3333333333%) - 30px);
  }
  .col-xs-8 {
    flex: 0 0 auto;
    width: calc((66.6666666667%) - 30px);
  }
  .col-xs-9 {
    flex: 0 0 auto;
    width: calc((75%) - 30px);
  }
  .col-xs-10 {
    flex: 0 0 auto;
    width: calc((83.3333333333%) - 30px);
  }
  .col-xs-11 {
    flex: 0 0 auto;
    width: calc((91.6666666667%) - 30px);
  }
  .col-xs-12 {
    flex: 0 0 auto;
    width: calc((100%) - 30px);
  }
}
@media (min-width: 576px) {
  .col-sm-1 {
    flex: 0 0 auto;
    width: calc((8.3333333333%) - 30px);
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: calc((16.6666666667%) - 30px);
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: calc((25%) - 30px);
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: calc((33.3333333333%) - 30px);
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: calc((41.6666666667%) - 30px);
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: calc((50%) - 30px);
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: calc((58.3333333333%) - 30px);
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: calc((66.6666666667%) - 30px);
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: calc((75%) - 30px);
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: calc((83.3333333333%) - 30px);
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: calc((91.6666666667%) - 30px);
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: calc((100%) - 30px);
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    flex: 0 0 auto;
    width: calc((8.3333333333%) - 30px);
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: calc((16.6666666667%) - 30px);
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: calc((25%) - 30px);
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: calc((33.3333333333%) - 30px);
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: calc((41.6666666667%) - 30px);
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: calc((50%) - 30px);
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: calc((58.3333333333%) - 30px);
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: calc((66.6666666667%) - 30px);
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: calc((75%) - 30px);
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: calc((83.3333333333%) - 30px);
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: calc((91.6666666667%) - 30px);
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: calc((100%) - 30px);
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    flex: 0 0 auto;
    width: calc((8.3333333333%) - 30px);
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: calc((16.6666666667%) - 30px);
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: calc((25%) - 30px);
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: calc((33.3333333333%) - 30px);
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: calc((41.6666666667%) - 30px);
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: calc((50%) - 30px);
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: calc((58.3333333333%) - 30px);
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: calc((66.6666666667%) - 30px);
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: calc((75%) - 30px);
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: calc((83.3333333333%) - 30px);
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: calc((91.6666666667%) - 30px);
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: calc((100%) - 30px);
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    flex: 0 0 auto;
    width: calc((8.3333333333%) - 30px);
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: calc((16.6666666667%) - 30px);
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: calc((25%) - 30px);
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: calc((33.3333333333%) - 30px);
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: calc((41.6666666667%) - 30px);
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: calc((50%) - 30px);
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: calc((58.3333333333%) - 30px);
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: calc((66.6666666667%) - 30px);
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: calc((75%) - 30px);
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: calc((83.3333333333%) - 30px);
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: calc((91.6666666667%) - 30px);
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: calc((100%) - 30px);
  }
}
@media (min-width: 1400px) {
  .col-xxl-1 {
    flex: 0 0 auto;
    width: calc((8.3333333333%) - 30px);
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: calc((16.6666666667%) - 30px);
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: calc((25%) - 30px);
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: calc((33.3333333333%) - 30px);
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: calc((41.6666666667%) - 30px);
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: calc((50%) - 30px);
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: calc((58.3333333333%) - 30px);
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: calc((66.6666666667%) - 30px);
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: calc((75%) - 30px);
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: calc((83.3333333333%) - 30px);
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: calc((91.6666666667%) - 30px);
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: calc((100%) - 30px);
  }
}
.col {
  flex: 1 0 0%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.row-cols-1 {
  flex: 1 0 auto;
  width: 100%;
}

.row-cols-2 {
  flex: 1 0 auto;
  width: 50%;
}

.row-cols-3 {
  flex: 1 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 {
  flex: 1 0 auto;
  width: 25%;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: calc(1.5rem - 15px);
  padding-left: calc(1.5rem - 15px);
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.row > * {
  margin-left: 15px;
  margin-right: 15px;
  max-width: 100%;
}

html,
body {
  height: 100%;
}

body {
  background: #fff;
  font-family: "Gilroy", sans-serif;
  color: var(--color-black);
  font-size: 14px;
  min-width: 320px;
  font-weight: 400;
  width: 100%;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.header__home {
  background-color: rgba(29, 29, 29, 0.7);
  position: relative;
  z-index: 101;
}
@media only screen and (max-width: 992px) {
  .header__home {
    background-color: var(--color-black);
    width: 100vw;
  }
}
@media only screen and (max-width: 992px) {
  .header__menu {
    display: none;
  }
}
.header__menu--mob {
  display: none;
}
@media only screen and (max-width: 992px) {
  .header__menu--mob {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100vw;
    width: 31.25rem;
    background-color: #fff;
    transition: transform 0.5s ease, width 0.5s ease;
    z-index: 103;
    display: flex;
    margin: 0;
    flex-direction: column;
  }
}
.header__menu--mob__head {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 3rem 2.5rem 1.25rem;
}
.header__menu--mob__head::after {
  content: "";
  display: block;
  height: 1px;
  background: var(--color-gray);
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}
.header__menu--mob__title {
  color: var(--color-main-black);
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 17px;
  text-transform: uppercase;
}
@media only screen and (max-width: 576px) {
  .header__menu--mob__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
  }
}
@media only screen and (max-width: 576px) {
  .header__menu--mob__close svg {
    width: 1rem;
    height: 1rem;
  }
}
.header__menu--mob__close svg path {
  transition: stroke 0.15s linear;
}
.header__menu--mob__close:hover {
  cursor: pointer;
}
.header__menu--mob__close:hover svg path {
  stroke: var(--color-brown);
}
@media only screen and (max-width: 768px) {
  .header__menu--mob {
    width: 100vw;
  }
}
.header__menu--mob__body {
  overflow: auto;
  padding: 1.25rem 2.5rem;
}
.header__menu--mob__body::-webkit-scrollbar {
  width: 0px;
}
.header__menu--mob__item {
  position: relative;
}
.header__menu--mob__item--link {
  padding: 1.0625rem 0 0.8125rem 0;
}
.header__menu--mob__item--link a {
  color: var(--color-main-black);
  text-decoration: none;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.0625rem;
  transition: color 0.15s linear;
}
@media only screen and (max-width: 576px) {
  .header__menu--mob__item--link a {
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1.0625rem;
  }
}
.header__menu--mob__item--link a:hover {
  color: var(--color-brown);
}
.header__menu--mob__submenu {
  padding: 0 0.625rem;
}
.header__menu--mob__submenu--link {
  padding: 0.625rem 0;
}
.header__menu--mob__submenu--link a {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.0625rem;
  color: var(--color-main-black);
  text-decoration: none;
  transition: color 0.15s linear;
}
@media only screen and (max-width: 576px) {
  .header__menu--mob__submenu--link a {
    font-weight: 400;
    font-size: 0.8125rem;
    line-height: 1.0625rem;
  }
}
.header__menu--mob__submenu--link a:hover {
  color: var(--color-brown);
}
.header__menu--mob__toggle {
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 1.0625rem;
}
.header__menu--mob__toggle svg {
  transform: rotate(-90deg);
  transition: transform 0.2s ease-in-out;
}
.header__menu--mob__toggle.collapsed svg {
  transform: rotate(0deg);
}
.header__menu--mob__toggle.collapsed svg path {
  stroke: var(--color-brown);
}
@media only screen and (max-width: 576px) {
  .header__menu--mob__toggle svg {
    width: 1.125rem;
  }
}
.header__menu--mob__social {
  margin: 1.875rem 0 0;
}
.header__menu--mob__social--items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu--mob__social--item {
  border: 1px solid var(--color-main-black);
  padding: 1.25rem;
  border-radius: 0.3125rem;
  transition: border 0.15s ease;
}
@media only screen and (max-width: 576px) {
  .header__menu--mob__social--item {
    padding: 1rem;
  }
}
.header__menu--mob__social--item svg {
  width: 1.5625rem;
  height: 1.25rem;
}
@media only screen and (max-width: 576px) {
  .header__menu--mob__social--item svg {
    width: 1.25rem;
    height: 1.0625rem;
  }
}
.header__menu--mob__social--item:hover {
  border-color: var(--color-brown);
}
.header__basket {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 100vw;
  width: 31.25rem;
  background-color: #fff;
  transition: transform 0.5s ease, width 0.5s ease;
  z-index: 103;
  display: flex;
  margin: 0;
  flex-direction: column;
  padding: 2.5rem 0 2.25rem 3.25rem;
}
@media only screen and (max-width: 768px) {
  .header__basket {
    width: 100vw;
    left: 100vw;
    padding: 2.5rem 0 1.25rem 1.25rem;
  }
}
.header__basket--icon {
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding: 0 3.25rem 0 0;
}
@media only screen and (max-width: 768px) {
  .header__basket--icon {
    display: none;
  }
}
.header__basket--title {
  display: flex;
  justify-content: center;
  margin: 3.75rem 0 2.5rem;
  color: var(--color-main-black);
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 1.625rem;
}
@media only screen and (max-width: 576px) {
  .header__basket--title {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.3125rem;
  }
}
.header__basket--body {
  overflow: auto;
  position: relative;
  margin: 0 1.25rem 0 0;
}
.header__basket--body::-webkit-scrollbar {
  width: 6px;
}
.header__basket--body::-webkit-scrollbar-track {
  background: var(--color-filter-gray);
}
.header__basket--body::-webkit-scrollbar-thumb {
  background: var(--color-gray);
}
.header__basket--close {
  display: none;
  position: absolute;
  top: 2.5rem;
  right: calc(100% + 1.0625rem);
  cursor: pointer;
}
.header__basket--close svg path {
  transition: stroke 0.15s linear;
}
.header__basket--close:hover svg path {
  stroke: var(--color-brown);
}
@media only screen and (max-width: 768px) {
  .header__basket--close {
    right: 2.5rem;
  }
  .header__basket--close svg {
    width: 1.25rem;
  }
  .header__basket--close svg path {
    stroke: var(--color-main-black);
  }
}
.header__basket--item {
  display: flex;
  justify-content: space-around;
  margin: 0 0 1.125rem;
}
@media only screen and (max-width: 768px) {
  .header__basket--item__image {
    width: 30%;
  }
}
.header__basket--item__body {
  padding: 0 0 0 1.0625rem;
  width: 80%;
}
@media only screen and (max-width: 768px) {
  .header__basket--item__body {
    width: 70%;
  }
}
@media only screen and (max-width: 576px) {
  .header__basket--item__body {
    padding: 0 0 0 0.5625rem;
  }
}
.header__basket--item__body--title {
  display: flex;
}
.header__basket--item__body--name {
  width: 91.6666666667%;
  padding: 0 0.9375rem 0 0;
}
.header__basket--item__body--name a {
  color: var(--color-main-black);
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.0625rem;
  text-decoration: none;
  transition: color 0.15s linear;
}
@media only screen and (max-width: 576px) {
  .header__basket--item__body--name a {
    font-weight: 400;
    font-size: 0.8125rem;
    line-height: 0.9375rem;
  }
}
.header__basket--item__body--name a:hover {
  color: var(--color-brown);
}
.header__basket--item__body--delete {
  width: 8.3333333333%;
  display: flex;
  justify-content: flex-end;
  padding: 0 0.8125rem 0 0;
  min-width: 1.5rem;
  cursor: pointer;
}
.header__basket--item__body--delete svg path {
  transition: stroke 0.15s linear;
}
.header__basket--item__body--delete:hover svg path {
  stroke: var(--color-brown);
}
.header__basket--item__body--properties {
  margin: 0.875rem 0 1.125rem;
}
.header__basket--item__body--property {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
}
.header__basket--item__body--property__name, .header__basket--item__body--property__value {
  min-width: 50%;
  max-width: -moz-max-content;
  max-width: max-content;
  color: var(--color-article-gray);
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 0.9375rem;
}
@media only screen and (max-width: 576px) {
  .header__basket--item__body--property__name, .header__basket--item__body--property__value {
    font-weight: 400;
    font-size: 0.6875rem;
    line-height: 0.8125rem;
  }
}
.header__basket--item__body--prices {
  display: flex;
  align-items: center;
}
.header__basket--item__body--price {
  color: var(--color-main-black);
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.3125rem;
}
.header__basket--item__body--price.price__old {
  text-decoration-line: line-through;
  font-weight: 300;
  font-size: 0.8125rem;
  line-height: 0.9375rem;
}
.header__basket--item__body--price.price__discount {
  margin: 0 0 0 0.625rem;
  color: var(--color-red);
}
.header__basket--order {
  margin: 1.625rem 0 0;
  padding: 0 1.25rem 0 0;
}
.header__basket--order__info {
  display: flex;
  justify-content: space-between;
  padding: 0 0 0.625rem 0;
  border-bottom: 1px solid var(--color-black);
}
.header__basket--order__title {
  color: var(--color-black);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
}
.header__basket--order__value {
  color: var(--color-black);
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.3125rem;
}
@media only screen and (max-width: 576px) {
  .header__basket--order__value {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1rem;
  }
}
.header__basket--order a {
  text-decoration: none;
  color: var(--color-main-black);
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.3125rem;
}
@media only screen and (max-width: 576px) {
  .header__basket--order a {
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.0625rem;
  }
}
.header__basket--order__button {
  margin: 2.0625rem auto 0;
  padding: 1.0625rem 2.6875rem;
  border: 1px solid var(--color-main-black);
  text-align: center;
  max-width: 14.375rem;
  transition: background-color 0.2s linear, color 0.2s linear;
}
@media only screen and (max-width: 576px) {
  .header__basket--order__button {
    max-width: 12.5rem;
    padding: 1.0625rem 2.0625rem;
  }
}
.header__basket--order__button:hover {
  background-color: var(--color-main-black);
  color: var(--color-white);
}
.header__personal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 100vw;
  width: 31.25rem;
  background-color: #fff;
  transition: transform 0.5s ease, width 0.5s ease;
  z-index: 103;
  display: flex;
  margin: 0;
  flex-direction: column;
  padding: 2.5rem 3.375rem;
}
@media only screen and (max-width: 768px) {
  .header__personal {
    width: 100vw;
    left: 100vw;
    padding: 3.75rem 0 0 1.25rem;
  }
}
.header__personal--icon {
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding: 0 3.25rem 0 0;
}
@media only screen and (max-width: 768px) {
  .header__personal--icon {
    display: none;
  }
}
.header__personal--close {
  display: none;
  position: absolute;
  top: 2.5rem;
  right: calc(100% + 1.0625rem);
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .header__personal--close {
    right: 1.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .header__personal--close svg {
    width: 1.25rem;
  }
}
.header__personal--close svg path {
  transition: stroke 0.15s linear;
}
@media only screen and (max-width: 768px) {
  .header__personal--close svg path {
    stroke: var(--color-main-black);
  }
}
.header__personal--close:hover svg path {
  stroke: var(--color-brown);
}
.header__personal--title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 3.75rem 2.5rem;
  color: var(--color-main-black);
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 1.625rem;
}
@media only screen and (max-width: 576px) {
  .header__personal--title {
    margin: 1.875rem 2.5rem;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.3125rem;
  }
}
.header__personal--subtitle {
  margin: 0.5rem 0 0;
  color: var(--color-breadcrumbs-gray);
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.875rem;
}
@media only screen and (max-width: 576px) {
  .header__personal--subtitle {
    font-weight: 400;
    font-size: 0.625rem;
    line-height: 0.75rem;
  }
}
.header__personal--tabs {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}
.header__personal--tabs::-webkit-scrollbar {
  width: 6px;
}
.header__personal--tabs::-webkit-scrollbar-track {
  background: var(--color-filter-gray);
}
.header__personal--tabs::-webkit-scrollbar-thumb {
  background: var(--color-gray);
}
.header__personal--tabs__titles {
  display: flex;
  justify-content: space-between;
  margin: 0.625rem 0;
}
@media only screen and (max-width: 576px) {
  .header__personal--tabs__titles {
    padding: 0 1.25rem 0 0;
    margin: 1.5625rem 0;
  }
}
.header__personal--tabs__title {
  cursor: pointer;
  color: var(--color-breadcrumbs-gray);
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.875rem;
  transition: color 0.15s linear;
}
.header__personal--tabs__title.active {
  color: var(--color-main-black);
}
.header__personal--auth {
  padding: 0 1.25rem 0 0;
}
.header__personal--auth__submit {
  margin: 3.125rem auto 0;
  display: flex;
  justify-content: center;
  min-width: 10rem;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.3125rem;
}
@media only screen and (max-width: 576px) {
  .header__personal--auth__submit {
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.125rem;
    margin: 1.875rem auto 0;
  }
}
.header__personal--reg {
  padding: 0 1.25rem 0 0;
}
.header__personal--reg__submit {
  margin: 3.125rem auto;
  display: flex;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.3125rem;
}
@media only screen and (max-width: 576px) {
  .header__personal--reg__submit {
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.125rem;
    margin: 1.25rem auto 0;
  }
}
.header__personal--pass {
  padding: 0 1.25rem 0 0;
}
.header__personal--pass__submit {
  margin: 3.125rem auto;
  display: flex;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.3125rem;
}
@media only screen and (max-width: 576px) {
  .header__personal--pass__submit {
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.125rem;
    margin: 1.25rem auto 0;
  }
}
.header__search {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 100vw;
  width: 31.25rem;
  background-color: #fff;
  transition: transform 0.5s ease, width 0.5s ease;
  z-index: 103;
  display: flex;
  margin: 0;
  flex-direction: column;
  padding: 2.5rem 0 2.25rem 3.25rem;
}
@media only screen and (max-width: 768px) {
  .header__search {
    width: 100vw;
    left: 100vw;
    padding: 2.5rem 0 1.25rem 1.25rem;
  }
}
.header__items {
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 992px) {
  .header__items {
    flex-direction: column;
  }
}
.header__items .header__logo__icon svg path {
  transition: fill 0.15s linear;
  fill: var(--color-white);
}
.header__items .header__logo__icon:hover svg path {
  fill: var(--color-brown);
}
.header__items .header__menu__item {
  padding: 1.875rem 1.25rem;
  color: var(--color-white);
}
.header__items .header__menu__item:hover a {
  color: var(--color-menu-brown);
}
.header__items .header__menu__item a {
  color: var(--color-white);
  text-decoration: none;
  transition: color 0.15s linear;
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
}
.header__items .header__menu__item a:hover {
  color: var(--color-menu-brown);
}
.header__items .header__menu__item .header__submenu {
  position: absolute;
  width: 100%;
  left: 0;
  top: 100%;
  background-color: white;
  transition: all 0.3s linear;
  visibility: hidden;
  opacity: 0;
  transform: translate(0px, -10px);
  padding: 2rem 0;
}
.header__items .header__menu__item .header__submenu a {
  color: var(--color-main-black);
  position: relative;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 17px;
}
.header__items .header__menu__item .header__submenu a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  background: none repeat scroll 0 0 transparent;
  height: 1px;
  width: 0;
  background-color: var(--color-main-black);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
.header__items .header__menu__item .header__submenu a:hover::after {
  width: 100%;
  left: 0;
}
.header__items .header__menu__item .header__submenu .header__submenu__items {
  align-items: center;
}
.header__items .header__menu__item .header__submenu .header__submenu__items--links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 4rem 0;
  max-height: 15.625rem;
}
.header__items .header__menu__item .header__submenu .header__submenu__items--link {
  margin: 0 0 1.25rem;
}
.header__items .header__menu__item:hover .header__submenu {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
}
@media only screen and (max-width: 992px) {
  .header__panel {
    margin: 1rem 0 0.625rem 0;
    width: 100%;
  }
}
.header__panel__mobile--navbar {
  cursor: pointer;
}
.header__panel__mobile--navbar svg rect {
  transition: fill 0.15s linear;
  fill: white;
}
.header__panel__mobile--navbar:hover svg rect {
  fill: var(--color-brown);
}
@media only screen and (min-width: 992px) {
  .header__panel__mobile--navbar {
    display: none;
  }
}
.header__panel__items {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 992px) {
  .header__panel__items {
    justify-content: space-evenly;
  }
}
.header__panel__item {
  display: flex;
  margin: 0 0 0 1.125rem;
  align-items: center;
}
@media only screen and (max-width: 992px) {
  .header__panel__item {
    margin: 0;
  }
}
.header__panel__item .header__panel__basket.active svg path,
.header__panel__item .header__panel__favorites.active svg path {
  fill: var(--color-brown);
}
.header__panel__item .header__panel__basket.active + .favorites__quantity,
.header__panel__item .header__panel__basket.active + .basket__quantity,
.header__panel__item .header__panel__favorites.active + .favorites__quantity,
.header__panel__item .header__panel__favorites.active + .basket__quantity {
  padding: 0 0 0 0.625rem;
  color: var(--color-brown);
}
@media only screen and (max-width: 576px) {
  .header__panel__item svg {
    width: 16px;
  }
}
.header__panel__item svg path {
  transition: fill 0.15s linear;
  fill: var(--color-white);
}
.header__panel__item:hover svg path {
  fill: var(--color-brown);
}
@media only screen and (max-width: 992px) {
  .header__logo {
    margin: 0.75rem 0 0 0;
  }
}
.header__menu__items, .header__panel__items {
  display: flex;
}

body .overlay__blur {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s linear, visibility 0.3s step-end, background-color 0.3s linear;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  display: block;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
body.popup__show .overlay__blur {
  opacity: 1;
  visibility: visible;
  transition-timing-function: ease-in-out, step-start;
  z-index: 100;
}
body.lock__screen {
  overflow: hidden;
  touch-action: none;
}
body.show__navbar .overlay__blur {
  z-index: 102;
  opacity: 1;
  visibility: visible;
  transition-timing-function: ease-in-out, step-start;
}
body.show__navbar .header__menu--mob {
  transform: translateX(-31.25rem);
}
@media only screen and (max-width: 992px) {
  body.show__navbar .header__menu--mob {
    transform: translateX(-100%);
  }
}
body.show__basket .overlay__blur {
  z-index: 102;
  opacity: 1;
  visibility: visible;
  transition-timing-function: ease-in-out, step-start;
}
body.show__basket .header__basket {
  transform: translateX(-31.25rem);
}
@media only screen and (max-width: 992px) {
  body.show__basket .header__basket {
    transform: translateX(-100%);
  }
}
body.show__basket .header__basket--close {
  display: block;
}
body.show__personal .overlay__blur {
  z-index: 102;
  opacity: 1;
  visibility: visible;
  transition-timing-function: ease-in-out, step-start;
}
body.show__personal .header__personal {
  transform: translateX(-31.25rem);
}
@media only screen and (max-width: 992px) {
  body.show__personal .header__personal {
    transform: translateX(-100%);
  }
}
body.show__personal .header__personal--close {
  display: block;
}
body.show__search .overlay__blur {
  z-index: 102;
  opacity: 1;
  visibility: visible;
  transition-timing-function: ease-in-out, step-start;
}
body.show__search .header__search {
  transform: translateX(-31.25rem);
}
@media only screen and (max-width: 992px) {
  body.show__search .header__search {
    transform: translateX(-100%);
  }
}
body.show__search .header__search--close {
  display: block;
}

.form__block {
  display: flex;
  flex-direction: column;
}
.form__block .form__label {
  margin: 1rem 0 0.5rem 0;
}
.form__block .form__input {
  border: none;
  border-radius: 0;
  border-radius: none;
  transition: all 0.15s linear;
  border-bottom: 1px solid var(--color-black);
  padding: 0.5rem 0.1875rem;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.4375rem;
}
.form__block .form__input::-moz-placeholder {
  color: var(--color-breadcrumbs-gray);
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.4375rem;
}
.form__block .form__input::placeholder {
  color: var(--color-breadcrumbs-gray);
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.4375rem;
}
.form__block .form__input.error {
  border-color: var(--color-red);
}
.form__block .form__input.error + .form__error {
  opacity: 1;
  visibility: visible;
}
.form__block .form__error {
  color: var(--color-red);
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.875rem;
  margin: 0.3125rem 0 0 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s linear;
}

.collapse:not(.show) {
  display: none;
}

[data-tab=body] {
  transition: all 0.3s;
  display: none;
  animation: fadeInDown 0.8s;
}

[data-tab=body].show {
  display: block;
}

.btn {
  padding: 1.0625rem 1.875rem;
  text-align: center;
  max-width: 14.375rem;
  transition: background-color 0.2s linear, color 0.2s linear;
}
@media only screen and (max-width: 576px) {
  .btn {
    max-width: 12.5rem;
    padding: 1.0625rem 1.5625rem;
  }
}
.btn.btn__main--black {
  border: 1px solid var(--color-main-black);
  background-color: var(--color-white);
}
.btn.btn__main--black:hover {
  background-color: var(--color-main-black);
  color: var(--color-white);
}/*# sourceMappingURL=core.css.map */